* {

    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* border: 1px solid black; */
}

body {

    font-size: 62.4%;
    background-color: rgb(233, 227, 227);
    color: var(--color-white);
}

/* ------------------------------------ index SignUp started --------------------------- */

/* ------------ header SignUp started ------------ */

header {

    width: 100%;
    height: 120px;
    background-color: rgb(195, 191, 115);
    padding: 0px 40px;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

header .parnet_1 img {

    height: 120px;
}

header .parnet_2 {

    width: 140px;
    height: 50px;
    border-radius: 10px;
}

header .parnet_2 button {

    width: 100%;
    height: 100%;
    font-size: 18px;
    font-weight: 600;
    color: gainsboro;
    border-radius: 10px;
    background-color: black;
}

header .parnet_2 button:hover {

    color: black;
    font-size: 19px;
    transition: 0.8s all;
    border: 2px solid black;
    background-color: transparent;
}

/* ------------ header SignUp ended ------------ */

.container_1 {

    width: 100%;
    height: 84vh;

    display: flex;
    justify-content: center;
    align-items: center;
}

.container_1 form {

    width: 60%;
    height: 90%;
    margin: 0px auto;
    padding: 20px 20px;
    border-radius: 20px;
    background-color: rgb(195, 191, 115);
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);

    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    gap: 40px;
}

.container_1 form h1 {

    font-size: 50px;
    font-weight: 800;
    color: rgb(70, 67, 3);
    text-shadow: 1px 1px 1px black;
}

.container_1 form .parent_1 {

    width: 80%;

    display: flex;
    flex-direction: column;
}

.container_1 form .parent_1 label {

    font-size: 22px;
    font-weight: 700;
    color: rgb(70, 67, 3);
}

.container_1 form .parent_1 input {

    height: 50px;
    outline: none;
    font-size: 18px;
    font-weight: 400;
    padding: 0px 10px;
    margin-bottom: 25px;
    color: var(--color-white);
    border-radius: 0px 8px 8px 8px;
    background-color: var(--bg-black);
}

.container_1 form .parent_1 input:hover {

    background-color: rgb(13, 13, 13);
}

.container_1 form .signUp {

    width: 120px;
    height: 40px;
    cursor: pointer;
    font-size: 18px;
    font-weight: 600;
    border-radius: 8px;
    background-color: rgb(60, 55, 6);
    border: 1px solid rgb(12, 11, 0);
}

.container_1 form .signUp:hover {

    font-weight: 700;
    font-size: 18;
    transition: 0.8s all;
    color: rgb(60, 55, 6);
    background-color: transparent;
    border: 1px solid rgb(12, 11, 0);
}


/* --------------------------------- index SignUp ended ------------------------- */


/* --------------------------------- home started ------------------------- */

.home {

    width: 100%;
    height: 84.5vh;

    display: flex;
    justify-content: space-around;
    align-items: center;
}

.home .container_1 {

    width: 40%;
    height: 80%;
    padding: 40px;
    border-radius: 10px;
    background-color: #c3bf73;
    box-shadow: 5px 5px 10px rgb(136, 135, 135);

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: start;
}

.home .container_1 .parent_1 {

    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: start;
    gap: 10px;
}

.home .container_1 .parent_1 h1 {

    font-size: 60px;
    color: rgb(47, 45, 45);
}

.home .container_1 .parent_1 p {

    font-size: 20px;
    color: rgb(54, 54, 54)
}

.home .container_1 .parent_2 {

    border-radius: 10px;
}

.home .container_1 .parent_2 button {

    width: 150px;
    height: 60px;
    cursor: pointer;
    font-size: 25px;
    font-weight: 600;
    border-radius: 10px;
    border: 2px solid black;
    background-color: transparent;
}

.home .container_1 .parent_2 button:hover {

    font-size: 24px;
    color: #c3bf73;
    transition: 0.8s all;
    border-style: none;
    background-color: black;
}


/* --------------------------------- home ended ------------------------- */

/* --------------------------------- post Job started ------------------------- */

.postJob {

    width: 70%;
    height: 100%;
    color: black;
    margin: 30px auto;
}

.postJob form {

    width: 100%;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 40px;
}

.postJob .parent_1 {

    display: flex;
    flex-direction: column;
    gap: 40px;
}

.postJob .parent_1 h1 {

    font-size: 60px;
}

.postJob .parent_1 a {

    font-size: 20px;
    text-decoration: none;
}

.postJob .parent_2 {

    display: flex;
    flex-direction: column;
}

.postJob .parent_2 label,
.postJob .parent_3 div label,
.postJob .parent_4 label {

    font-size: 20px;
}

.postJob .parent_2 label span,
.postJob .parent_3 .child_1 label span,
.postJob .parent_3 .child_2 label span {

    font-size: 18px;
    color: rgb(92, 7, 7);
}

.postJob .parent_2 input,
.postJob .parent_3 div input,
.postJob .parent_4 input {

    width: 100%;
    height: 50px;
    outline: none;
    font-size: 24px;
    padding: 0px 10px;
    border-radius: 10px;
    border: 1px solid black;
    background-color: transparent;
    box-shadow: 5px 5px 10px rgb(186, 184, 184);
}

.postJob .parent_2 input:hover,
.postJob .parent_3 div input:hover,
.postJob .parent_4 input:hover {

    background-color: rgb(223, 221, 221);
}

.postJob .parent_2 label #hash {

    font-size: 18px;
    color: rgb(92, 7, 7);
}

.postJob .parent_3 {

    display: flex;
    flex-direction: row;
    gap: 30px;
}

.postJob .parent_3 div {

    width: 50%;

    display: flex;
    flex-direction: column;
}

.postJob .parent_4 {

    display: flex;
    flex-direction: column;
    gap: 4px;
}

.postJob .parent_4 p {

    font-size: 16px;
    color: rgb(61, 60, 60);
}

.postJob .parent_5 {

    display: flex;
    justify-content: end;
}

.postJob .parent_5 button {

    width: 140px;
    height: 45px;
    color: white;
    font-size: 18px;
    font-weight: 600;
    border-style: none;
    border-radius: 8px;
    background-color: #004fcb;
}

.postJob .parent_5 button:hover {

    transition: 0.4s all;
    background-color: black;
}

/* --------------------------------- post Job ended ------------------------- */


/* --------------------------------- Add Job started ------------------------- */

.addJob {

    width: 70%;
    height: 100%;
    color: black;
    margin: 20px auto;
    padding: 60px 0px;

    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    gap: 30px;
}

.addJob div {

    gap: 2px;
}

.addJob .container_1 {

    width: 100%;
    height: auto;

    display: flex;
    justify-content: start;
    align-items: start;
}

.addJob .container_1 {

    font-size: 25px;
    margin-bottom: 20px;
}

.addJob .container_4,
.addJob .container_5 {

    font-size: 25px;
}

.addJob .container_2,
.addJob .container_3,
.addJob .container_4 {

    width: 100%;
    display: flex;
    flex-direction: column;
}


.addJob .container_2 label,
.addJob .container_3 label,
.addJob .container_4 label,
.addJob .container_5 label {

    font-size: 20px;
}

.addJob .container_2 label span,
.addJob .container_3 label span,
.addJob .container_4 label span,
.addJob .container_5 label span {

    font-size: 18px;
    color: rgb(92, 7, 7);
}

.addJob .container_2 input,
.addJob .container_4 input,
.addJob .container_3 select {

    width: 100%;
    height: 50px;
    outline: none;
    font-size: 18px;
    padding: 0px 10px;
    border-radius: 10px;
    border: 1px solid black;
    background-color: transparent;
    box-shadow: 5px 5px 10px rgb(186, 184, 184);
}

.addJob .container_4 .child_1 {

    display: flex;
    gap: 0px;
}

.addJob .container_4 .child_1 {

    display: flex;

}

.addJob .container_4 .child_1 input {

    width: 30%;
    height: 50px;
    outline: none;
    font-size: 24px;
    padding: 0px 10px;
    border: 1px solid black;
    background-color: transparent;
    border-radius: 10px 0px 0px 10px;
    box-shadow: 5px 5px 10px rgb(186, 184, 184);
}

.addJob .container_4 .child_1 .plus {

    width: 5%;
    height: 50px;
    font-size: 38px;
    font-weight: 400;
    border: 1px solid black;
    border-radius: 0px 10px 10px 0px;
    background-color: rgb(214, 211, 211);
    box-shadow: 0px 5px 10px rgb(186, 184, 184);
}

.addJob .container_4 .child_1 .minus {

    width: 5%;
    height: 50px;
    font-size: 38px;
    font-weight: 400;
    border-left: none;
    border-right: none;
    border: 1px solid black;
    background-color: rgb(214, 211, 211);
    box-shadow: 0px 5px 10px rgb(186, 184, 184);

    border-left: none;
    border-right: none;
}

.addJob .container_4 .child_1 .plus:hover,
.addJob .container_4 .child_1 .minus:hover {

    background-color: rgb(190, 189, 189);
}

.addJob .container_3 select option {

    color: rgb(27, 27, 27);
    border: 6px solid black;
    background-color: rgb(223, 221, 221);
}

.addJob .container_2 input:hover,
.addJob .container_3 input:hover,
.addJob .container_4 .child_1 input:hover {

    background-color: rgb(223, 221, 221);
}

.addJob .container_5 {

    width: 100%;

    display: flex;
    flex-direction: column;
}

.addJob .container_5 textarea {

    width: 100%;

    outline: none;
    font-weight: 600;
    font-size: 18px;
    padding: 10px 20px;
    border-radius: 10px;
    background-color: transparent;
    box-shadow: 0px 5px 10px rgb(186, 184, 184);
}

textarea:hover {

    background-color: rgb(223, 221, 221);
}

.addJob .confirm {


    width: 140px;
    height: 45px;
    color: white;
    font-size: 18px;
    font-weight: 600;
    border-style: none;
    border-radius: 8px;
    background-color: #004fcb;
}


/* --------------------------------- Add Job ended ------------------------- */



/* ---------------------------------- Find Job started ------------------------- */


.findJob {

    width: 100%;
    height: 100%;

    margin: 40px 0px;

}

.findJob .container_1 {

    width: 100%;
    height: 100%;
    padding: 20px;
    margin: 0 auto;

    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: start;
    gap: 30px;
}

.findJob .container_1 .parent_1 {

    width: 60%;
    height: 150px;  
    padding: 0px 20px;
    color: black;
    border-radius: 10px;
    border: 1px solid black;
    background-color: transparent;
    box-shadow: 5px 5px 10px rgb(192, 191, 191);

    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.findJob .container_1 .parent_1 .child_1 h1 {

    font-size: 25px;
    font-weight: 800;
}

.findJob .container_1 .parent_1 .child_2 {

    display: flex;
    flex-direction: column;
    gap: 5px;
}

.findJob .container_1 .parent_1 .child_2 p {

    color:  gray;
    font-size: 16px;
}

/* ---------------------------------- Find Job ended ------------------------- */



@media (max-width: 1230px) {

    /* ---------------------------------- home started ------------------------- */

    .home .container_1 {

        padding: 30px;
    }

    .home .container_1 .parent_1 h1 {

        font-size: 60px;
    }

    /* ---------------------------------- home ended ------------------------- */

}

@media (max-width: 1024px) {

    /* ---------------------------------- home started ------------------------- */

    .home .container_1 {

        padding: 30px;
    }

    .home .container_1 .parent_1 h1 {

        font-size: 45px;
    }

    /* ---------------------------------- home ended ------------------------- */

    /* ---------------------------------- Add Job started ------------------------- */

    .addJob .container_4 .child_1 .plus {

        width: 10%;
    }

    .addJob .container_4 .child_1 .minus {

        width: 10%;
    }

    /* ---------------------------------- Add Job ended ------------------------- */

}

@media (max-width: 768px) {

    /* ---------------------------------- index SignUp started ------------------------- */

    .container_1 form {

        width: 80%;
        gap: 20px;
    }

    /* ---------------------------------- index SignUp ended ------------------------- */


    /* ---------------------------------- home started ------------------------- */

    .home {

        padding: 20px;

        display: flex;
        flex-direction: column;
        gap: 20px;
    }

    .home .container_1 {

        padding: 20px;
        width: 90%;
        gap: 20px;
    }

    .home .container_1 .parent_1 {

        gap: 10px;
    }

    .home .container_1 .parent_1 h1 {

        font-size: 40px;
        font-weight: 800;
    }

    /* ---------------------------------- home ended ------------------------- */

    /* ---------------------------------- PostJob started ------------------------- */

    .postJob {

        width: 90%;
    }

    /* ---------------------------------- PostJob ended ------------------------- */


    /* ---------------------------------- Add Job started ------------------------- */

    .addJob {

        width: 95%;
    }

    .addJob .container_1 h1 {

        font-size: 45px;
    }

    .addJob .container_4 .child_1 input {

        width: 55%;
    }

    .addJob .container_4 .child_1 .plus {

        width: 15%;
    }

    .addJob .container_4 .child_1 .minus {

        width: 15%;
    }

    /* ---------------------------------- Add Job ended ------------------------- */


}

@media (max-width: 425px) {

    /* ---------------------------------- index SignUp started ------------------------- */

    /* ---------------------------------- header SignUp started ------------------------- */

    header {

        padding: 0px;
        justify-content: space-around;
    }


    header .parnet_2 {

        width: 80px;
        height: 40px;
    }

    header .parnet_2 button {

        font-size: 14px;
    }

    /* ---------------------------------- header SignUp started ------------------------- */

    .container_1 form {

        width: 96%;
    }

    .container_1 form .parent_1 {

        width: 100%;
    }

    /* ---------------------------------- index SignUp ended ------------------------- */




    /* ---------------------------------- home started ------------------------- */

    .home {

        padding: 20px 0px;
        gap: 20px;
    }

    .home .container_1 {

        padding: 15px;
        ;
        width: 95%;
        gap: 10px;
    }

    .home .container_1 .parent_1 h1 {

        font-size: 30px;
    }

    .home .container_1 .parent_1 p {

        font-size: 16px;
    }

    .home .container_1 .parent_2 button {

        width: 100px;
        height: 40px;
        font-size: 16px;
    }

    /* ---------------------------------- home ended ------------------------- */

    /* ---------------------------------- postJob started ------------------------- */

    .postJob {

        width: 95%;
    }

    .postJob form .parent_1 h1 {

        font-size: 40px;
    }

    .postJob form .parent_3 {

        display: flex;
        flex-direction: column;
    }

    .postJob form .parent_3 .child_1,
    .postJob form .parent_3 .child_2 {

        width: 100%;
    }

    /* ---------------------------------- home ended ------------------------- */


    /* ---------------------------------- Add Job started ------------------------- */

    .addJob .container_4 .child_1 input {

        width: 55%;
    }

    .addJob .container_4 .child_1 .plus {

        width: 20%;
    }

    .addJob .container_4 .child_1 .minus {

        width: 20%;
    }

    /* ---------------------------------- Add Job ended ------------------------- */



}