* {

    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: 1px solid black;
}

.dark-mode {
    background-color: #212126;
    color: white;
}

body {

    font-size: 62.5%;
    color: var(--text-black);
    font-family: Arial, sans-serif;
    background-color: var(--bg-white);
    transition: background-color 0.3s ease, color 0.3s ease;
}


header .container_3 .parent_2 .child_1 img {

    border: 1px solid var(--color-blue);
}


@media (max-width: 1024px) {

    header {

        justify-content: space-around;
        gap: 500px;
    }

    header .container_2 {

        display: none;
    }

    header .container_3 .parent_4{

        display: flex;
    }
}