/* bg-color started */

:root {

    --bg-dark: #121212;
    --bg-dark-gray: #333333;
    --bg-black: rgb(33, 31, 32);
    --bg-white: #fbfbfb;
    --bg-blue: #6851ff;
    --bg-gray: #BFBFBF;

}

.dark-gray {
    background-color: var(--bg-dark-gray);
}

.bg-blue {
    background-color: var(--bg-blue);
}

.bg-gray {
    background-color: var(--bg-gray);
}

.bg-white {
    background-color: var(--bg-white);
}

.bg-dark {
    background-color: var(--bg-dark);
}

/* bg-color ended */



/* color started */
:root {

    --color-dark: #121212;
    --color-black: black;
    --color-dark-gray: #333333;
    --color-black: rgb(33, 31, 32);
    --color-white: #fbfbfb;
    --color-blue: rgb(114, 139, 173);
    --color-dark-blue: #6851ff;
    --color-gray: #BFBFBF;
}

.color-dark-blue {
    color: var(--color-dark-blue);
}

.color-black {
    color: var(--color-black);
}

.color-dark-gray {
    color: var(--color-dark-gray);
}

.color-blue {
    color: var(--color-blue);
}

.color-gray {
    color: var(--color-gray);
}

.color-dark {
    color: var(--color-dark);
}

.color-white {
    color: var(--color-white);
}


/* color ended */


/* z-index started */
#z-1 {
    z-index: 1000 !important;
}

#z-0 {
    z-index: -1000 !important;
}

/* z-index ended */



/* ------------------------------------------ Loading ---------------------------------------------- */
.loader {

    width: 100%;
    height: 100%;

    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
    
    position: absolute;
}

/**************/


.loader-circle-11 {
    position: relative;
    width: 70px;
    height: 70px;
    transform-style: preserve-3d;
    perspective: 400px;
}

.loader-circle-11 .arc {
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    border-bottom: 5px solid #f00;
}

.loader-circle-11 .arc:nth-child(1) {
    animation: rotate1 1.15s linear infinite;
}

.loader-circle-11 .arc:nth-child(2) {
    animation: rotate2 1.15s linear infinite;
}

.loader-circle-11 .arc:nth-child(3) {
    animation: rotate3 1.15s linear infinite;
}

.loading .arc:nth-child(1) {
    animation-delay: -0.8s;
}

.loader-circle-11 .arc:nth-child(2) {
    animation-delay: -0.4s;
}

.loader-circle-11 .arc:nth-child(3) {
    animation-delay: 0s;
}

@keyframes rotate1 {
    from {
        transform: rotateX(35deg) rotateY(-45deg) rotateZ(0);
    }

    to {
        transform: rotateX(35deg) rotateY(-45deg) rotateZ(1turn);
    }
}

@keyframes rotate2 {
    from {
        transform: rotateX(50deg) rotateY(10deg) rotateZ(0);
    }

    to {
        transform: rotateX(50deg) rotateY(10deg) rotateZ(1turn);
    }
}

@keyframes rotate3 {
    from {
        transform: rotateX(35deg) rotateY(55deg) rotateZ(0);
    }

    to {
        transform: rotateX(35deg) rotateY(55deg) rotateZ(1turn);
    }
}